{:paths ["src"]
 :deps {
        io.github.kotoba-lang/set-index
        {:git/url "https://github.com/kotoba-lang/set-index.git"
         :git/sha "a8a1d2c019677422d08fd63578dbe85e6f343ff1"}
        io.github.kotoba-lang/set-intersection
        {:git/url "https://github.com/kotoba-lang/set-intersection.git"
         :git/sha "dc3a39d774f26885da6de439c9bf56da25b6da34"}
        io.github.kotoba-lang/set-map-invert
        {:git/url "https://github.com/kotoba-lang/set-map-invert.git"
         :git/sha "af3a69b630fdd5f57e3db68aebf32768a7a70765"}
        io.github.kotoba-lang/set-rename-keys
        {:git/url "https://github.com/kotoba-lang/set-rename-keys.git"
         :git/sha "4ef29bc8dc5ba504db7cc007bde2d47ba692e15e"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
